.cache-audio-comp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .title-icon {
    width: 34rpx;
    height: 34rpx;
  }
  .progress-text {
    color: #2C2F3B;
    font-size: 24rpx;
    margin-left: 10rpx;
    line-height: 34rpx;
    vertical-align: middle;
  }
}
