.swiper-card-six {
  .scroll-view_H{
    // white-space: nowrap;
  }
  .container {
    padding: 30rpx 0 0 0;
    
    .page-section-spacing {
      width: 682rpx;
      
      .list-group {
        width: 682rpx;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        // background-color: red;
      }
    }
  }

  .title-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60rpx;

    .title-left {
      display: flex;
      align-items: baseline;
      justify-content: center;
      .title {
        position: relative;
        margin-top: 0;
        height: 32rpx;
        .title-name {
          position: absolute;
          top:0;
          left: 0;
          font-size: 38rpx;
          line-height: 38rpx;
          color: #2C2F3B;
          display: inline-block;
          width: 200rpx;
          font-family: MySimSun;

        }
        .title-img {
          position: absolute;
          top:18rpx;
          left: 0;
          width: 152rpx;
          height: 16rpx;
        }
       
      }
      .title-num {
        font-family: MyDIN;
        font-size: 28rpx;
        color: #9AA7B1;
        line-height: 40rpx;
      }
    }
    .title-right {
      display: flex;
      width: 128rpx;
      align-items: center;
      justify-content: space-between;
    }
    .title-icon {
      width: 34rpx;
      height: 34rpx;
    }
    .title-icon-type2 {
      width: 40rpx;
      height: 40rpx;
      z-index: 100;
    }
    
    .small-icon {
      width: 32rpx;
      height: 32rpx;
      margin-left: 162rpx;
      transform: translateY(6rpx);
      vertical-align: middle;
    }
  }

  .title-line-simple {
    margin-top: 48rpx;
    text-align: center;
    .only-title {
      font-size: 38rpx;
      font-weight: 600;
      color: #2C2F3B;
    }
    .weui-input {
      width: 670rpx;
      height: 100rpx;
      border-radius: 10px;
      background: #F7F8F9;
      margin-top: 90rpx;
      padding: 0 30rpx;
      box-sizing: border-box;
      text-align: left;
      font-size: 32rpx;
      line-height: 100rpx;
      color: #2C2F3B;
    }
  }
  

  .card-group {
    width: 670rpx;
    height: 190rpx;
    margin-bottom: 30rpx;
    border-radius: 10rpx;
    background: #F7F8F9;
    // background: red;
    padding: 20rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-child{
      // content: '';
      // padding-bottom: 34rpx;
    }
    .group-one {
      display: flex;
      // align-items: center;
      .img-group {
        position: relative;
        width: 200rpx;
        height: 150rpx;
        border-radius: 10rpx;
        overflow: hidden;

        .img-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 200rpx;
          height: 150rpx;
          background-size: 200rpx 150rpx;
          background-repeat: no-repeat;

          filter: blur(3px);
        }
        .have-listened {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 200rpx;
          height: 40rpx;
          background: linear-gradient(245deg, #4B4B4B 28%, #A9A9A9 96%);
          display: flex;
          align-items: center;
          font-size: 20rpx;
          color: #FFFFFF;
          text-align: center;
          justify-content: center;
          gap: 8rpx;
          border-radius: 0 0 10rpx 10rpx;

          .listen-img {
            width: 20rpx;
            height: 20rpx;
          }
        }
      }
    }
    .card-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200rpx;
      height: 150rpx;
      border-radius: 10rpx;
    }
    .card-info {
      padding-left: 20rpx;

      .card-title {
        font-size: 30rpx;
        color: #2C2F3B;
        width: 354rpx;
        display: inline-block;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: break-spaces;
        overflow: hidden;
      }
      .title-search {
        font-size: 30rpx;
        color: #9AA7B1;
        width: 354rpx;
        // display: inline-block;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        display: inline-block;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: break-spaces;
        overflow: hidden;

        
      }
      b {
        color: red;
      }
      .card-tag {
        margin-top: 10rpx;
        .tag {
          padding: 2rpx 12rpx;
          font-size: 24rpx;
          line-height: 36rpx;
          border-radius: 8rpx;
          display: inline-block;
        }
        .tag-green {
          color: #00A32B;
          background: #EBFAEB;
          // background-color: red;
        }
        .tag-blue {
          color: #0088FF;
          background: #F0FBFF;
        }
      }
      .card-desc {
        display: flex;
        flex-direction: row;
        padding-top: 20rpx;
        .desc-item {
          font-size: 24rpx;
          color: #9AA7B1;
          padding-right: 40rpx;
          .item-icon {
            width: 20rpx;
            height: 20rpx;
            padding-right: 4rpx;
          }
        }
        .tag-group {
          .tag-item {
            font-size: 20rpx;
            color: #FA6C00;
            background: #FFF8E6;
            padding: 2rpx 8rpx;
          }
        }
        
      }
    }
    .card-icon {
      width: 50rpx;
      height: 50rpx;
      .play-icon {
        width: 50rpx;
        height: 50rpx;
        // display: none;
      }
    }
    
  }
  .card-group:last-child {
    // content: '';
    // height: 300rpx;
    // width: 100%;
    // background-color: red;
    // margin-bottom: 100rpx;
  }
  .card-group-two {
    width: 330rpx;
    height: 364rpx;
    margin-bottom: 30rpx;
    border-radius: 10rpx;
    background: #F7F8F9;
    // background: red;
    // padding: 20rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    &:last-child{
      content: '';
      padding-bottom: 34rpx;
    }
    .group-one {
      display: flex;
      flex-direction: column;
      // align-items: center;
      .img-group {
        position: relative;
        width: 330rpx;
        height: 246rpx;
        border-radius: 10rpx;
        overflow: hidden;
        .img-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 330rpx;
          height: 246rpx;
          background-size: 330rpx 246rpx;
          background-repeat: no-repeat;
          filter: blur(3px);
        }
        .have-listened {
          position: absolute;
          bottom: 0;
          left: 0;
          width:330rpx;
          height: 40rpx;
          background: linear-gradient(245deg, #4B4B4B 28%, #A9A9A9 96%);
          display: flex;
          align-items: center;
          font-size: 20rpx;
          color: #FFFFFF;
          text-align: center;
          justify-content: center;
          gap: 8rpx;
          border-radius: 0 0 10rpx 10rpx;

          .listen-img {
            width: 20rpx;
            height: 20rpx;
          }
        }
        .card-icon {
          position: absolute;
          right: 16rpx;
          top: 16rpx;
          width: 50rpx;
          height: 50rpx;
          .play-icon {
            width: 50rpx;
            height: 50rpx;
            // display: none;
          }
        }
      }
    }
    .card-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 330rpx;
      height: 246rpx;
      border-radius: 10rpx;
    }
    .card-info {
      padding: 16rpx 20rpx;

      .card-title {
        font-size: 30rpx;
        color: #2C2F3B;
        width: 270rpx;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .card-desc {
        display: flex;
        flex-direction: row;
        gap: 16rpx;
        justify-content: space-between;
        // padding-top: 10rpx;
        .desc-item {
          font-size: 24rpx;
          color: #9AA7B1;
          // padding-right: 40rpx;
          .item-icon {
            width: 20rpx;
            height: 20rpx;
            padding-right: 4rpx;
          }
        }
        .tag-group {
          .tag-item {
            font-size: 20rpx;
            color: #FA6C00;
            background: #FFF8E6;
            padding: 2rpx 8rpx;
          }
        }
        
      }
    }
    
    
  }
  .fenge-hr {
    width: 670rpx;
    margin-top: 30rpx;
    height: 46rpx;
    margin-bottom: 10rpx;
    text-align: center;
    
    .hr {
      margin-left: 60rpx;
      height: 0rpx;
      width: 548rpx;
      border-top: 1rpx solid #9AA7B1;
      opacity: 0.4;
    }
    .txt {
      font-size: 30rpx;
      color: #2C2F3B;
      padding: 0 20rpx;
      display: inline-block;
      background-color: #FFFFFF;
      transform: translateY(-26rpx);
      font-family: MySimSun;
    }
    
  }
  .empty-list {
    font-size: 28rpx;
    color: #2C2F3B;
    padding-top: 20rpx;
  }
}