.swiper-banner-compontent {  
  .page-section {
    swiper {
      height: 550rpx;
    }
    .swiper-item-wrapper {
      background-color: green;
      width: 750rpx;
      height: 550rpx;
      border-radius: 0px 0px 100rpx 100rpx;
    }
    .swiper-item {
      position: relative;
      text-align: center;
      width: 750rpx;
      .item-img {
        width: 750rpx;
        height: 550rpx;
        border-radius: 0px 0px 100rpx 100rpx;
        // border: 12rpx solid #FFFFFF;
        // border: 12rpx solid red;
      }
      .img-mask {
        position: absolute;
        left: 0;
        top:0;
        width: 750rpx;
        height: 550rpx;
        background-color: rgba(0,0,0,.5);
        border-radius: 0px 0px 100rpx 100rpx;
      }
      .title {
        position: absolute;
        width: 750rpx;
        top: 220rpx;
        left: 50%;
        transform: translateX(-50%);
        font-size: 48rpx;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0;
      }
      .sub-title {
        position: absolute;
        width: 750rpx;
        top: 300rpx;
        left: 50%;
        transform: translateX(-50%);
        font-size: 28rpx;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0;
      }
    }
    .active {
      .title {
        opacity: 1;
        transition: opacity .2s ease-in-out 0.5s;
      }
      .sub-title {
        opacity: 1;
        transition: opacity .2s ease-in-out 0.7s;

      }
    }
    // .swiper-item-wrapper:nth-child(2) {
    //   transform: rotate(10deg);
    //   transform-origin: center;
    // }
  }
  .find-more {
    width: 670rpx;
    height: 72rpx;
    border-radius: 10rpx;
    background: #F7F8F9;
    font-size: 30rpx;
    color: #9AA7B1;
    margin-top: 30rpx;
    // margin-bottom: 100rpx;
    text-align: center;
    line-height: 72rpx;
    font-family: MysimSun;
  }
}
