.page-exhibit-detail {
  .top-swiper-area {

  }
  .images-area {
    
  }
  .audio-player-area {
    // background-color: aqua;
  }
  .operate-area {
    position: absolute;
    bottom: 68rpx;
    left: 0;
    padding: 0 40rpx;
    width: 100%;
    box-sizing: border-box;
    .op-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .o-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .o-icon {
          width: 52rpx;
          height: 52rpx;
        }
        .o-text {
          font-size: 26rpx;
          color: #9AA7B1;
          padding-top: 14rpx;
        }
      }
    }
  }
  .rate-group {
    margin: 54rpx 0rpx 0 0rpx;
    .title {
      font-size: 38rpx;
      color: #2C2F3B;
      text-align: center;
    }
    .rate-slider {
      // position: relative;
      // top: 0rpx;
      // left: 0;
      width: 670rpx;
      height: 100rpx;
      z-index: 100;
    }
    .rate-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10rpx 40rpx;
      .rate-txt {
        font-family: DIN;
        font-size: 28rpx;
        color: #9AA7B1;
      }
    }
  }
}

