.page-meta-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
}
.page-museum-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .museum-info {
    position: relative;
    width: 100%;
    height: 562rpx;
   
    .museum-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 562rpx;
      border-bottom-left-radius: 50rpx;
      border-bottom-right-radius: 50rpx;
    }
    .img-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 562rpx;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -3%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 0.5) 100%);
      border-bottom-left-radius: 50rpx;
      border-bottom-right-radius: 50rpx;
    }
    .museum-text-group {
      position: absolute;
      bottom: 30rpx;
      left: 40rpx;
      // height: 420rpx;
      width: 670rpx;
      color: #FFFFFF;
      box-sizing: border-box;
      .title-line {
        display: flex;
        align-items: center;
        gap: 12rpx;
      }
      .title {
        font-size: 44rpx;
        font-family: MySimSun;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
      .tag {
        font-size: 20rpx;
        height: 32rpx;
        line-height: 32rpx;
        vertical-align: middle;
        color: #64676C;
        background: #F2F4F7;
        padding: 0rpx 8rpx;
        border-radius: 4rpx;
      }
      .desc {
        width: 90%;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        font-size: 28rpx;
        padding-top: 10rpx;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
      .btn-line {
        display: flex;
        align-items: center;
        gap: 20rpx;
        margin-top: 8rpx;
        margin-bottom: 8rpx;
        .btn {
          width: 140rpx;
          height: 60rpx;
          border-radius: 8rpx;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          box-sizing: border-box;
          background: rgba(255, 255, 255, 0.85);
          border: 1rpx solid #2C2F3B;
          color: #2C2F3B;
          .btn-image {
            width: 26rpx;
            height: 24rpx;
            transform: translateY(1rpx);
          }
          .cont {
            font-size: 30rpx;
            color: #2C2F3B;
            padding-left: 10rpx;
            line-height: 58rpx;
            vertical-align: middle;
          }
        }
        .btn-poster {
          width: 286rpx;
          height: 60rpx;
        }
      }
      .line {
        width: 610rpx;
        height: 1px;
        border-bottom: 1rpx solid rgba(255, 255, 255, 0.1);
        // border-bottom: 1rpx solid red;
        // backdrop-filter: blur(6px);
        padding-top: 18rpx;
      }
      .museum-icon {
        width: 26rpx;
        height: 26rpx;
        padding-right: 14rpx;
      }
      .text-flex {
        display: flex;
        align-items: center;
        font-size: 26rpx;
        color: rgba(255, 255, 255, 0.9);
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        // justify-content: center;
      }
      .open-date {
        padding-top: 20rpx;
       
      }
      .price {
        padding-top: 14rpx;
      }
      .address {
        padding-top: 14rpx;
      }
    }
  }

  .note-area {
    // margin: 20rpx 40rpx;
    margin-top: -36rpx;
    margin-bottom: -40rpx;
    // padding: 0 40rpx 0 40rpx;
    padding: 0;
    width: 750rpx;
    height: 218rpx;
    padding-top: 60rpx;
    background-color: #D9D9D9;
    box-sizing: border-box;
  }

  .exhibit-ranklist-area {
    background-color: #D9D9D9;
    margin-top: 30rpx;
    .zhanwei {
      display: block;
      width: 100%;
      height: 30rpx;
    }
  }

  .sticky-area {
    position: sticky;
    width: 100%;
    min-height: calc(100vh - 88px - 40rpx);
    top: 100px; /* 设置距离顶部100rpx */
    z-index: 100; /* 确保元素在其他内容之上 */
    background-color: #fff; /* 可选背景色 */
    border-radius: 20rpx 20rpx 0 0;
    transform: translateY(-10rpx);
  }

  .recommend-area {
    padding-left: 40rpx;
  }

  .normal-area {
    padding: 0 14rpx;
    padding-top: 0rpx;
    background-color: #FFFFFF;
  }

  .expried-area {
    padding-left: 40rpx;
    padding-bottom: 120rpx;
  }
  .future-area {
    padding: 30rpx 40rpx;
    // padding-top: 30rpx;
    
  }
  .water-container {
    width: 750rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20rpx;
    // background-color: #f7f8f9;
    // padding-bottom: 100rpx;
    .waterfall {
      width: 726rpx;
      display: flex;
      justify-content: space-between;

      // gap: 10rpx;
      /* 列样式 */
      .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12rpx;
        // margin: 0 10rpx;
      }
      .col1 {
        align-items: flex-start;
      }
      .col2 {
        align-items: flex-end;
      }
      
      /* 项目卡片样式 */
      .item {
        width: 357rpx;
        // margin-bottom: 20rpx;
        border-radius: 12rpx;
        padding: 0rpx;
        box-sizing: border-box;
        box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 12rpx;
        
      }

      .img-pic {
        width: 357rpx;
        border-radius: 12rpx;
      }
      
      .title {
        font-size: 32rpx;
        line-height: 38rpx;
        margin-top: 10rpx;
        padding: 0 16rpx;
        color: #45465E;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 38rpx;
        max-height: 76rpx;
      }
      
      .content {
        font-size: 28rpx;
        margin-top: 2rpx;
        padding: 0 16rpx;
        color: #6B798E;
      }
      
      .desc-opendate {
       
        padding: 10rpx 16rpx 20rpx 16rpx; 
        // box-shadow: 1rpx 1rpx 1rpx 0px rgba(0, 0, 0, 0.3);
        
        .txt {
          font-size: 26rpx;
          line-height: 39rpx;
          letter-spacing: 0px;
          color: #9AA7B1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          
          
        }
      }
      
      
    }
    /* 加载提示样式 */
    .loading, .no-more {
      text-align: center;
      padding: 30rpx 0;
      font-size: 28rpx;
      color: #6B798E;
    }
  }
}
.player-area {
  position: absolute;
}

.swiper-unit-area {
  margin-top: 40rpx;
  // border-radius: 20rpx 20rpx 0 0;
  // background-color: red;
  .page-section-spacing {
    border-bottom: 0;
  }
  .item-group {
    // width: 150rpx;
    margin: 0;
  }
  .item-group-0 {
    // margin-left: 225rpx;
  }
  .item-group-1 {
  }
}

.unit-tab-pannel-area {
  // margin-top: 40rpx;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48rpx 70rpx;

  .pannel-item {
    width: 140rpx;
    height: 140rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .i-name {
      font-size: 32rpx;
      color: #2C2F3B;
    }
    .i-icon {
      width: 80rpx;
      height: 80rpx;
    }
  }
}
