.bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 750rpx;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.loc-area {
  height: 64rpx;
  width: 750rpx;
}
.page-section {
  // height: 100vh;
  background: white;
  position: relative;
}

.full-height {
  position: absolute;
  height: calc(100vh - 400rpx);
  width: 100%;
  top: 0;
  left: 0;
}
.index-page {
  padding: 32rpx;
  .banner-area {
    width: 750rpx;
    height: 550rpx;
  }
  .title {
    font-size: 36rpx;
    font-weight: 600;
    margin-bottom: 10rpx;
  }
  .paihangbang-area {
    margin-top: 200rpx;
  }
  .exhibition-area {
    margin-top: 60rpx;
   
    .exhibition-list-area {
      // margin-top: 30rpx;
      // margin-left: 40rpx;
    }
  }
  .daily-listen-area {
    margin-top: 300rpx;
    margin-left: 40rpx;
  }
  .museum-list-area {
    margin-top: 30rpx;
    margin-left: 40rpx;
  }
  .comment-list-area {
    margin-top: 30rpx;
    margin-left: 40rpx;
    /* 加载提示样式 */
    .loading, .no-more {
      text-align: center;
      padding: 30rpx 0;
      font-size: 28rpx;
      color: #6B798E;
    }
  }
}