.bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 750rpx;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.loc-area {
  height: 64rpx;
  width: 750rpx;
}
.page-section {
  // height: 100vh;
  background: white;
  position: relative;
}

.full-height {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
.index-page {
  .banner-area {
    
  }
  .exhibition-area {
    position: absolute;
    left: 0;
    top: 374rpx;
    width: 100%;
    height: calc(68rpx + 388rpx);

    z-index: 100;
    .title {
      font-family: MySimSun;
      color: #FFFFFF;
      font-size: 38rpx;
      height: 40rpx;
      padding-left: 40rpx;
    }
    .exhibition-list-area {
      margin-top: 30rpx;
      margin-left: 40rpx;
    }
  }
  .daily-listen-area {
    margin-top: 300rpx;
    margin-left: 40rpx;
  }
  .museum-list-area {
    margin-top: 30rpx;
    margin-left: 40rpx;
  }
  .comment-list-area {
    margin-top: 30rpx;
    margin-left: 40rpx;
    /* 加载提示样式 */
    .loading, .no-more {
      text-align: center;
      padding: 30rpx 0;
      font-size: 28rpx;
      color: #6B798E;
    }
  }
}