.comment-list {
  // padding-top: 40rpx;
  padding-bottom: 80rpx;
  .title-line {
    display: flex;
    justify-content: space-between;
    height: 40rpx;
    margin-bottom: 40rpx;
    // align-items: center;
    .title {
      position: relative;
      margin-top: 10rpx;
      .title-name {
        position: absolute;
        top:0;
        left: 0;
        font-size: 38rpx;
        line-height: 38rpx;
        color: #2C2F3B;
        display: inline-block;
        width: 200rpx;
        font-family: MySimSun;

      }
      .title-img {
        position: absolute;
        top:18rpx;
        left: 0;
        width: 152rpx;
        height: 16rpx;
      }
    }
  }
  .tag-group {
    width: 686rpx;
    // height: 140rpx;
    margin-bottom: 16rpx;
    overflow-y: hidden;
    white-space: normal;
    .tag-item {
      border-radius: 36rpx;
      height: 56rpx;
      line-height: 56rpx;
      font-size: 26rpx;
      color: #64676C;
      background: #FFFFFF;
      padding: 0 16rpx;
      display: inline-block;
      margin-right: 16rpx;
      margin-bottom: 16rpx;
      border: 1px solid #D3D9E0;
    }
    .selected {
      border: 1rpx solid #2C2F3B;
      background: #F7F8F9;
      color: #2C2F3B;
    }
  }
  .comment-group {
    .no-comment {
      font-size: 26rpx;
      color: #6B798E;
      text-align: center;
    }
  }
  
  .cmt-icon {
    right: 24rpx;
    width: 90rpx;
    height: 90rpx;
    // background-color: transparent;
    position: fixed;
    bottom: 100rpx;
  }
}
