.audio_container {
  position: relative;
}

/*按钮大小  */
.audioOpen {
  width: 70rpx;
  height: 70rpx;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20rpx;
}

.slider_container {
  position: absolute;
  top: 6rpx;
  left: 0;
  width: 100%;
  height: 55rpx;
  z-index: 100;
}

.current_group {
  padding: 0rpx 180rpx 20rpx 80rpx;
}

.time_current {
  margin-top: -80rpx;
  font-size: 20rpx;
  color: #848484;
  transform: translateX(-40rpx);
}