@keyframes rotatecirle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.player-comp {
  width: 196rpx;
  height: 92rpx;
  // background-color: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32rpx 0 16rpx;
  background: #68635B;
  border-radius: 72rpx;
  box-sizing: border-box;
  // right: 40rpx;
  // bottom: 360rpx;
  .img-group{
    position: relative;
    width: 72rpx;
    height: 72rpx;
    // padding-right: 110rpx;
    // margin-left: 40rpx;
    .progress-container {
      width: 72rpx;
      height: 72rpx;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .progress-circle {
      width: 72rpx;
      height: 72rpx;
      border-radius: 50%;
      background: conic-gradient(#F0F0F0 var(--progress, 0%), #68635B 0%);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    
    .progress-circle::before {
      content: '';
      position: absolute;
      width: 64rpx;
      height: 64rpx;
      background: #FFFFFF;
      border-radius: 50%;
    }
    
    .progress-text {
      
      font-size: 28rpx;
      color: #333;
    }
    .img-playing {
      position: relative;
      z-index: 1;
      width: 64rpx;
      height: 64rpx;
      border-radius: 50%;
    }
  }
  
  .music-status {
    width: 48rpx;
    height: 48rpx;
  }

}


.ai-robot {
  // position: fixed;
  // bottom: 480rpx;
  // right: 20rpx;
  width: 150rpx;
  height: 151rpx;
  // z-index: 999;
}

.move-area {
  z-index: 999;
  
  position: fixed;
  bottom: 100rpx;
  right: 0;
  .move-area-content {
    width: 100rpx;
    height: 100rpx;
    background-color: red;
  }
}

.player-comp-new {
  position: absolute;
  left: 0;
  bottom: 164rpx;
  width: 750rpx;
  height: 120rpx;
  border-radius: 30rpx 30rpx 0px 0px;
  background: rgba(37, 37, 37, 0.6);
  backdrop-filter: blur(170rpx);
  z-index: 10;
  box-sizing: border-box;

  .player-wrapper {
    display: flex;
    align-items: center;
    width: 750rpx;
    height: 120rpx;
    margin-left: 44rpx;
    .img-group {
      width: 84rpx;
      height: 84rpx;
      .img {
        width: 84rpx;
        height: 84rpx;
        border-radius: 50%;
      }
      .img-animate {
        animation: rotatecirle 4s linear 0s infinite;
      }
    }
    .title {
      font-size: 30rpx;
      color: #FFFFFF;
      width: 420rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 36rpx;
    }
    .play-img {
      width: 36rpx;
      height: 36rpx;
      margin-left: 16rpx;
    }
  }
  .close-img {
    position: absolute;
    top: 12rpx;
    right: 12rpx;
    width: 36rpx;
    height: 36rpx;
  }
}
